h1 {
    font-size: 45px;
    font-family:'courial';
    margin-bottom: 0;
    margin-top: 0;
}

.titleBorder {
    background-color: #C4E5FB;
    color: black;
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 5px;
    flex-direction: column;
    align-items: center;
}
h2 {
    text-align: center;
    font-family: 'Courial';
    font-size: 40px;
    color: red;
    margin-bottom: 0;
    margin-top: 10px;
}
pre {
    text-align: center;
    flex-direction: row;
    font-family: 'Courial';
}
body{
    margin: 0;
    padding: 0;
}
h4 {
    margin-top: 5px;
    font-weight: 100;
    font-size: 24px;
}

.names {
        margin: auto;
        text-align: center;
        width: 50%;
        background-color: #C4E5FB;
        padding: 10px;

}
.label {
    white-space: nowrap;
}

.minitials {
    width: 20px;
    text-align: center;
}


.slider {
    appearance: none;
    width: 300px;
    height: 25px;
    background: #003366;
    outline: none;
    border-radius: 12px;

    /** https://blog.hubspot.com/website/html-slider#:~:text=If%20we%20want%20to%20display,the%20attribute%20oninput%3D%E2%80%9CrangeValue.
    Wanted to be fancy with the slider, so i'll be using this coding example for my project. I did the coding to display the number 
    underneath it. **/
}

.checkbox-container {
    text-align: center;
    margin-bottom: 20px;
}

.checkbox-group {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 10px 30px; /* Row gap: 10px, Column gap: 30px */
    max-width: 400px; /* Adjust container width */
    margin: auto;
    
}

.checkbox-group div {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between checkbox and label */
}

/** taking notes on the checkbox for future reference. Took me two hours to search through w3school to find the right coding for the alignment
I'll be really honest, I didn't read the assignment page carefully because it seem like I skipped over the table function.
Now I wasted 2 hours in doing research just so I can easily do the table method. For any future homework, please tell me if I need to make a table so I can 
add it. If not I'll be leaving how it is :( **/

.error {
    color: #1d2a51;
    font-size: 15px;
    font-family: courier;
    font-weight: 100;
}

password-styling {
    text-align: right;
    font-family: courier;
    font-weight: 100;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: #1d2a51;
} 

#reviewingForm {
    margin-top: 5px;
}

table.output, tr.output, td.output {
    width: 500px;
    background-color: #1d2a51;
    padding: 10px;
    border-spacing: 3px;
    border-radius: 25px;
}

td.output{
    width: 400px;
    background-color: #1d2a51;
    padding: 20px;
    border: 3px;
}